body {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    ;
}

.wrapper-container-2{
    margin-left: 0;
    margin-right: 0;
}
.total-ancho{
    max-width: none;
}
.card-img-top{
    height: 100px;
    width: 100vw;
}
.wrapper-row-2-1{
   
}



.mr-3{
    width: 10%;
    height: 10%;
}