/*Declaración de Variables de colores*/
$darkest-grey: #292929;
$light-grey: #757575;
$super-light-grey:#D9D9D9;
$medium-green:#018F69;
$medium-dark-green:hsl(164, 100%, 15%);

/*Mewdium fonts*/
$medium-font: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;

/* General*/
body {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

